
.email,
.password{
    width: 40%;
    margin: 10px auto;
   
}

.loginContainer{
    text-align: center;
}
.linksContainer{
    text-align: center;
    
}
.google-login-button {
    background-color: #e9f0f4;
    color: black;
    width: 43%;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px auto; /* Optional margin */
  }
  
  .google-login-button:hover {
    background-color: rgb(193, 193, 232);
  }
  .password {

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #e9f0f4;

  }
  .email {

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #e9f0f4;
    

  }
  .login-button {
    width: 43%;
    padding: 8px;
    background-color: #ffb700;
    border-radius: 5px;
    font-size: 15px;

  }
  .forgotPassword, 
  .signupLink,
  .mobilbankid {
    text-decoration: none; 
    margin: 10px auto; 
    width: 43%; 
  }
  

  .signupLink,
.mobilbankid {
  padding-right: 0;
}
 

 
  
  .forgotPassword:hover, .signupLink:hover {
    text-decoration: underline; 
  }
  

  
  .email-form h5, .password-form h5 {
    padding-right: 0; 
    margin: auto; 
    width: 40%; 
  }

  .password-form h5 {
  
    padding-right: 36%;
    margin-top: 5px;
  
  }
  

  