.map-container {
    display: flex;
  }
  
  .link-section {
    margin-left: 20px; /* Adjust the margin as needed */
  }
  
  .link-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .link-section ul {
    list-style: none;
    padding: 0;
  }
  
  .link-section li {
    margin-bottom: 5px;
  }
  
  .link-section a {
    text-decoration: none;
    color: blue;
  }
  
  .link-section a:hover {
    text-decoration: underline;
  }
  
  /* Styles for clickable links */
h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

a {
  display: block;
  padding: 10px;
  background-color: rgb(213, 202, 202);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #0056b3;
}
