.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto; 
  text-align: center;

}

.profile-picture {
  border-radius: 50%;
  width: 100px; 
  height: 100px;
  object-fit: cover;
  margin-bottom: 20px;
  position: relative; 
  margin-bottom: 20px;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profile-picture input[type="file"] {
  font-size: 14px;
  margin-top: 10px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}



.file-upload-button {
  background-color: #ffb700;
  color: white;
  padding: 10px 20px;
  margin-top: 20px; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  display: inline-block; 
}

.file-upload-button:hover {
  background-color: #ffb700;
}


.file-upload-input {
  display: none;
}


.user-info {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  width: 100%;
  margin-bottom: 15px;
}

.user-info label {
  margin-bottom: 5px;  
  font-weight: bold;
  text-align: left; 
}

.user-info input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%; 
  box-sizing: border-box; 
}


.profile-button {
  padding: 10px 20px;
  border: none;
  background-color: #ffb700;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.file-upload-button {
  background-color: #ffb700;
  color: white;
  padding: 6px 12px; /* Reduced padding for a smaller button */
  margin-top: 10px; /* Adjusted top margin for proper spacing */
  margin-bottom: 15px; /* Added bottom margin for spacing */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  display: block;
  text-align: center;
  font-size: 10px; /* Reduced font size for a smaller button text */
}

.file-upload-button:hover {
  background-color: #e6a600;
}
