.my-trips-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.map-container {
  flex: 1; 
}

.trip-list-container {
  flex: 0; 
  padding: 20px;
  background-color: white; 
}

.trip-list-title {
  margin-top: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc; 
  text-align: center;
}

.trip-list {
  overflow-y: auto; 
}

.trip-entry {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #eee; 
}

.trip-details,
.trip-action {
  padding: 5px 0; 
}

.trip-arrow {
  font-size: 24px; 
  color: #000; 
}




.map-content {
  display: flex;
  height: calc(100vh - 60px); 
}


.map-link-section {
  width: 230px; 
  height: calc(100vh - 60px); 
  overflow-y: auto; 
  background: #fff; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.map-link-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 80px;
}

.map-link-section li {
  background-color: #ffffff;
  margin-bottom: 8px;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s; 
  border-radius: 1cm;
  padding-right: 115px;
}

.map-link-section li a {
  text-decoration: none; 
  color: #1a1818; 
  display: block; 
  font-size: 1.2em;
}

.map-link-section li:hover {
  background-color: #dcdcdc;}



  
.map-link-section li.my-trips {
  display: flex; 
  align-items: center; 
  margin-left: 10px;
}

.map-link-section li.my-trips img {
  margin-right: 5px; 
}
