/* SecondPage.css */

.signupContainer {
    text-align: center;
  }
  
  .name,
  .email,
  .password {
    width: 40%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #e9f0f4;
  }
  
  .signup-button {
    width: 40%;
    padding: 8px;
    background-color: #ffb700;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 10px;
  }
  
  .signup-button:hover {
    background-color: #ffcc00;
  }
  
  .forgotPassword,
  .signupLink,
  .mobilbankid {
 

    text-decoration: none;
    display: block;
    margin-top: 15px;
    font-size: 15px;
    color: black;
  
  }

  

  
  .forgotPassword:hover,
  .signupLink:hover,
  .mobilbankid:hover {
    text-decoration: underline;
  }
  
  .name-signup-form h5{
    padding-right: 38%;
    margin-top: 5px;
    
    
  }
  
  .email-signup-form h5{
    padding-right: 38%;
    margin-top: 5px;
    
    
  }

  .password-signup-form h5{
    padding-right: 36%;
    margin-top: 5px;
    
    
  }